.Header {
    // background: linear-gradient(90deg, rgba(75,54,49,1) 0%, rgba(97,73,67,1) 35%);
    background-color: $firstColor;
    padding-top: 1rem;
    padding-bottom: 1rem;
    color:$textColorLight;

    &__container {
        display: flex;
        justify-content: space-between;
        align-items: center;
        position: relative;
    }

    &__logo {
        width: 15%;
        @include from(small) {
            width: 10%;
        }

        @include from(large) {
            width: 5%;
        }
    }

    &__changeTheme {
        font-size: 2rem;
        margin-right: 1rem;
    }

    &__form {
        display: flex;
        flex-grow: 1;

        @include from(medium) {
            flex-grow: 0;
        }
    }
}