.Libro {

    &__container {
        display: flex;
        justify-content: center;

        @include from(medium) {
            justify-content: space-between;
        }
    }
    &__info {
        width: 90%;

        @include from(medium) {
            width:49%;
        }
        
        @include from(large) {
            width:30%;
        }

        @include from(x-large) {
            width: 18%;
        }
    }
    
    &__detalles {
        font-size:1.5rem;
        padding:1rem;
        background-color:#Fff;
    }
}