// [class*="icon-"] {
//     &::before {
//         position: relative;
//         top: 2px;
//     }
// }

.l-container,
[class^="l-container--"] {
    width:95%;
    max-width: 1180px;
    margin-left: auto;
    margin-right: auto;
}

.Button,
[class*="Button--"] {
    text-decoration: none;
    border-radius: 6px;
    margin-right: 1rem;
    padding: 1rem 3rem;
}

.Button--black {
    background-color: $textColor;
    color: #fff;
}